<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param><!--애노테이션을 사용할수있도록 해주는 설정부분 -->
    <param-name>contextClass</param-name>
    <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
  </context-param>
  <context-param><!-- AppConfig의 위치를 설정해주는 부분 -->
    <param-name>contextConfigLocation</param-name>
    <param-value>com.example.AppConfig</param-value>
  </context-param>
  <!-- 
  <filter>
    <filter-name>myFilter</filter-name>
    <filter-class>com.example.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>myFilter</filter-name>
    <servlet-name>hello</servlet-name>
  </filter-mapping>
  -->
<!--
  <listener>
    <listener-class>com.example.MyListener</listener-class>
  </listener>
-->
  <listener><!-- 위에 설정된 AppConfig 파일을 이용 컨트롤러를 제외한 빈들을 등록하는 컨텍스트로더리스너-->
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- 
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.example.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  -->

  <servlet><!--WebConfig를 사용하여 서비스빈은 Root웹 어플리케이션 컨텍스트에, 컨트롤러는 서블릿 웹어플리케이션 컨텍스트에 등록-->
    <servlet-name>app</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param><!--애노테이션을 사용할수있도록 해주는 설정부분 -->
      <param-name>contextClass</param-name>
      <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </init-param>  
    <init-param><!--WebConfig를 사용하여 설정할수있도록 위치를 알려주는 구문 -->
      <param-name>contextConfigLocation</param-name>
      <param-value>com.example.WebConfig</param-value>
    </init-param>
  </servlet>
  <servlet-mapping><!--위에 만든 서블릿 app을 /app과 매핑 하겠다는 구문 --><!-- 모든 /app요청을 디스패쳐 서블릿으로 몰림, 이중에 /hello는 핸들러에 의해 핸들링될것 -->
    <servlet-name>app</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>
    
</web-app>
